body {
	background: #d9bcf5;
}
h1 {
	text-align: center;
	color: #ab387d;
}
a {
	display: block;
	text-decoration: none;
	color: #521a3b;
	width: 30%;
	margin: auto;
	text-align: center;
	border: #521a3b solid 2px;
	background: #f2a2d2;
}

img {
	width: 80%;
	display: block;
	margin: auto;
	border-radius: 10px;
}